openapi: 3.1.0
info:
  title: Reka Chat QA API
  description: 'The Reka API exposes Reka''s multimodal foundation models through a REST

    interface that includes chat completions, vision (video and image

    management, search, Q&A, clip generation), speech transcription and

    translation, and a Research API with web search capabilities. The chat

    surface is OpenAI-compatible.


    Only a representative subset of endpoints is modeled here, drawn from

    the public Reka documentation at https://docs.reka.ai. See the

    documentation for the full catalog.

    '
  version: 1.0.0
  contact:
    name: Reka Documentation
    url: https://docs.reka.ai
  license:
    name: Reka Proprietary
servers:
- url: https://api.reka.ai
  description: Reka API production server
security:
- bearerAuth: []
tags:
- name: QA
  description: Question-answer interactions over video content.
paths:
  /v1/qa/chat:
    post:
      tags:
      - QA
      summary: Video Q&A chat
      description: 'Ask conversational questions over an uploaded video or video group

        with multi-turn context.

        '
      operationId: qaChat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - messages
              properties:
                video_id:
                  type: string
                video_group_id:
                  type: string
                messages:
                  type: array
                  items:
                    $ref: '#/components/schemas/Message'
      responses:
        '200':
          description: Q&A response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
components:
  schemas:
    Message:
      type: object
      required:
      - role
      - content
      properties:
        role:
          type: string
          enum:
          - system
          - user
          - assistant
          - tool
        content:
          oneOf:
          - type: string
          - type: array
            items:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - text
                  - image_url
                  - video_url
                  - audio_url
                text:
                  type: string
                image_url:
                  type: object
                  properties:
                    url:
                      type: string
    ChatResponse:
      type: object
      properties:
        id:
          type: string
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                $ref: '#/components/schemas/Message'
              finish_reason:
                type: string
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: REKA_API_KEY
      description: 'Bearer token issued from the Reka Platform dashboard. Pass as

        `Authorization: Bearer REKA_API_KEY`.

        '
externalDocs:
  description: Reka API documentation
  url: https://docs.reka.ai
